.wrapp{
    background-color: darkgoldenrod;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;

    & .texto{
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        left: 340px;
        position: absolute;
        top: 170px;
    }

    & .container{
        background-color: darkgreen;
        margin: 10%;
        height: 30px;
        width: 30px;
    }
    & .inicial{
        left: 300px;
        position: absolute;
        top: 100px;
        z-index: 3;
    }
    & .one{
        left: 400px;
        position: absolute;
        top: 200px;
        z-index: 3;
    }
    & .two{
        left: 150px;
        position: absolute;
        top: 50px;
        z-index: 3;
    }
    & .three{
        left: 500px;
        position: absolute;
        top: 60px;
        z-index: 3;
    }
    & .four{
        left: 290px;
        position: absolute;
        top: 50px;
        z-index: 3;
    }& .five{
        left: 380px;
        position: absolute;
        top: 150px;
        z-index: 3;
    }& .six{
        left: 30px;
        position: absolute;
        top: 10px;
        z-index: 3;
    }& .seven{
        left: 450px;
        position: absolute;
        top: 40px;
        z-index: 3;
    }& .eight{
        left: 60px;
        position: absolute;
        top: 60px;
        z-index: 3;
    }
    & .no{
        left: 350px;
        position: absolute;
        top: 100px;
    }

    & .text-description{
        background-color: rebeccapurple;
        border-radius: 5px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        height: 10%;
        left: 25%;
        padding-top:18px;
        position: absolute;
        text-align: center;
        top: 55%;
        width: 30%;
    }
}